.home_main{
    /* background-color: gray; */
}

.home_title{
    font-size: 68px;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: black;
    font-weight: 700;
    line-height: 86px;
}
.home_subtitle{

    font-size: 36px;
    font-style: normal;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: black;
    font-weight: 400;
    line-height: 42px;
    margin-top: 5vh;
}

.home_button{
    margin: 10vh 0;
    width: 265px;
    height: 80px;
    font-size: 28px;
    background-color: rgba(39, 108, 211, 0.5);
    border-radius: 5px;
    border-color: transparent;
}

.home_button:hover{
    scale: 1.03;
    border-color: rgba(39, 108, 211, 0.5);
    color:white;
}

.home_top{
    /* background-color: yellow; */
    min-height: 15vh;
}

.home_about{
    color: gray ;
    font-style: normal;
    font-size:28px;
    /* font-family: Arial, Helvetica, sans-serif; */
    position: absolute;
    top: 10px;
    right:10px;
}

.home_bottom{
    /* background-color: red; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.home_left{
        /* background-color: red; */
        width: 40vw;
}
.home_right{
    /* background-color: lightblue; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}

@media screen and (max-width: 1400px){
    .home_bottom{
        /* background-color: red; */

        flex-direction: column;
    }
}